.heading{
    color:brown;
}
.section-header{
    text-align: center;
}

.call-us{
    text-align: center;
}

.card {
    background-color: red;
}
.card-header{
    background-color: red;
}